<h2>Confirm Information</h2>
  <p>
    <strong>Shipping Name:</strong>
    <%=h @order.shipping_name %>
  </p>
  <p>
    <strong>Billing Name:</strong>
    <%=h @order.billing_name %>
  </p>
  <p>
    <strong>employee:</strong>
    <%=h @order.employee_number %>
  </p>
  <p>
    <strong>first Name:</strong>
    <%=h @order.first_name %>
  </p>
  <p>
    <strong>last Name:</strong>
    <%=h @order.last_name %>
  </p>
  <p>
    <strong>middle Name:</strong>
    <%=h @order.middle_name %>
  </p>
  <p>
    <strong>Billing Name:</strong>
    <%=h @order.joining_date %>
  </p>
  <p>
    <strong>Billing Name:</strong>
    <%=h @order.date_of_birth %>
  </p>