  <h2>Shipping Information</h2>
  <p>
    <%= f.label :shipping_name %><br />
    <%= f.text_field :shipping_name %><br />
     <%= f.label :employee_number %><br />
    <%= f.text_field :employee_number %><br />
     <%= f.label :first_name %><br />
    <%=f.text_field :first_name %>
  </p>
  